<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>OMDB Test</title>
</head>
<body>
    <%- include("partials/header"); %> 
    <div class="content">
        <div class="resultpage">
            <% movieDetails.forEach((data)=>{ %>
                <div class="resultmovie">
                    <img src="<%= data['Poster']%>" onerror="this.src ='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkmpiE3saxLv17jlQVpffuUAAtU95HJoaPRw&usqp=CAU'">
                    <p><%= data['Title']%></p>
                </div>    
            <% }); %>
            <% if (maxPages > 0) { %>
                <ul class="pagination">
                    <% if (currentPage == 1) { %>
                        <li><a class="disabled">Previous</a></li>
                    <% } else { %>
                        <li><a class="active" href="/results/page=<%= Number(currentPage) - 1 %>?movie=<%= movieQuery %>">Previous</a></li>
                    <% } %>
                    
                        <li><a class="currentpage active"><%= currentPage %></a></li>

                    <% if (currentPage == maxPages) { %>
                        <li><a class="disabled">Next</a></li>
                    <% } else { %>
                        <li><a class="active" href="/results/page=<%= Number(currentPage) + 1 %>?movie=<%= movieQuery %>">Next</a></li>
                    <% } %>   
                </ul>
            <% } %>
        </div>
    </div>
    <%- include("partials/footer"); %>
</body>
</html>
