<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>OMDB Test</title>
</head>
<body>
    <%- include("partials/header"); %> 
    <div class="content">
        <div class="resultpage">
            <% movieDetails.forEach((data)=>{ %>
                <div class="resultmovie">
                    <img src="<%= data['Poster']%>" onerror="this.src ='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkmpiE3saxLv17jlQVpffuUAAtU95HJoaPRw&usqp=CAU'">
                    <p><%= data['Title']%></p>
                </div>    
            <% }); %>
            <form>
                <button formaction="/">search again</button>
            </form>
            <% if (maxPages > 0) { %>
                <ul>
                    <% if (currentPage == 1) { %>
                        <li><a>First</a></li>
                    <% } else { %>
                        <li><a href="/results/page=1?movie=<%= movieQuery %>">First</a></li>
                    <% } %>
                    <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(currentPage) + 4) && i <= maxPages; i++) { %>
                        <% if (i == currentPage) { %>
                            <li><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/results/page=<%= i %>?movie=<%= movieQuery %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(currentPage) + 4 && i < maxPages) { %>
                            <li><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (currentPage == maxPages) { %>
                        <li><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/results/page=<%= maxPages %>?movie=<%= movieQuery %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
    <%- include("partials/footer"); %>
</body>
</html>
